body{
    background-color:gray;
}
.titulo{
    color: white ;
    background-color: black;
    width: 23%;
    margin-left: 500px;
    border-radius: 5px;
    border-radius: 10px;
}
.html{
    color: white;
    background-color: black;
    width: 90%;
    border-radius: 10px;

}
.css{
    color: white;
    background-color: black;
    width: 90%;
    border-radius: 10px;
}
.java{
    color: white;
    background-color: black;
    width: 90%;
    border-radius: 10px;
}
