.imagem{
    border:5px solid black;
    background-color: bisque;
    margin: 5px;
}
.web{
    border: 5px solid black;
    background-color: gray;
    margin: 5px;
    padding: 5px;
}
.final{
    font-size:medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid black;
    background-color: bisque;
    margin: 5px;
    padding: 10px 600px;
}